venv/
__pycache__/

# local files used mainly for debugging purposes
plant_simulation_animation.mp4
Model/info.md
Model/todo.md
Model/main.py
Data/main.py
Data/synthetic_dataset_stats.csv
Data/read_plot.py